h4{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* FACEBOOK BUTTONS */

.facebook-style-btn{
    border-radius: 2px;
    font-size: 0.9rem;
    padding: 6px 12px;
    
}

.facebook-style-dark{
    box-shadow:  inset 0px 5px #4d73bf;
    background: #4267b2;
    border: solid 1px #4267b2;
    color: white;
    text-shadow: 0 1px #3359a5;
}
.facebook-style-dark:hover{
    background: #2b54af;
}
.facebook-style-dark:active{
    background: #1d4698;
    border-color: #1d4698;
}
.facebook-style-light{
    background: #f6f7f9;
    border: solid 1px #ced0d4;
    color: #4b4f56;
}
.facebook-style-light:hover{
    background: #e9ebee;
}
.facebook-style-light:active{
    background: #d8dade;
    border-color: #d8dade;
}

/* 3-D BUTTONS */

.btn-3d-1{
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding:15px 25px;
    font-size: 1.5rem;
    box-shadow: -6px 6px rgb(122, 61, 20);
}
.btn-3d-1:active{
    background: rgb(134, 71, 11);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px rgba(124, 50, 6, 0.514) ;
}
.btn-3d-1:hover{
    background: rgb(197, 99, 7);
}
 /* TO CONNECT CORNER OF SHADOW AND BOX */
.btn-3d-1::before {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    /* border width needs to be size of the element's box shadow */
    border: solid 6px transparent;

    /* border width needs to be size of the element's box shadow */
    border-right: solid 6px hsl(16, 100%, 30%);

    /* no width for left, makes measurements easier */
    border-left-width: 0px;

    background: none;
    top: 0px;

    /* needs to be the same size as border width */
    left: -6px;
  }
  .btn-3d-1::after {
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width: 0;
    border: solid 6px transparent;
    border-top: solid 6px hsl(16, 100%, 30%);
    border-bottom-width: 0px;
    background: none;
    right: 0;
    bottom: -6px;
  }

  .btn-3d-2{
    position: relative;
    background: #ecd300;
    font-size: 1.4rem;
    text-shadow: 0 -1px 0 #c3b007e8;
    color: white;
    border: solid 1px yellowgreen;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    outline: none;
    box-shadow: inset 0 1px rgb(197, 197, 56),
                      0 3px rgba(197, 197, 56, 0.555),
                      0 6px rgb(90, 90, 30),
                      0 8px rgba(114, 114, 23, 0.466),
                      0 10px rgb(31, 31, 6);
  }
  .btn-3d-2:hover{
      background: rgb(207, 207, 16);
  }
  .btn-3d-2:active{
      background: rgb(146, 146, 7);
      top: 2px;
  }
